[submodule "taskManagement"]
	path = taskManagement
	url = https://github.com/h-maki2/taskManagement.git
[submodule "identityAccess"]
	path = identityAccess
	url = https://github.com/h-maki2/identityAccess.git
